
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>Employee Portal</strong> 
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-warning">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>Actions</th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of employeeList; track $index) {
                                <tr>
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ item.employeeName }}</td>
                                    <td>{{ item.contactNo }}</td>
                                    <td>{{ item.emailId }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger btn-sm" (click)="onDelete(item.employeeId)">Delete</button>
                                    </td>
                                   
                                   
                                </tr>
                                

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>New Employee</strong> 
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-primary">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="employeeName" class="form-label">Employee Name</label>
                                <input type="text" class="form-control" id="employeeName" name="employeeName" [(ngModel)]="employeeObj.employeeName" placeholder="Enter employee name">
                            </div>
                            <div class="col-md-6">
                                <label for="contactNo" class="form-label">Contact No</label>
                                <input type="text" class="form-control" id="contactNo" name="contactNo" [(ngModel)]="employeeObj.contactNo" placeholder="Enter contact number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="emailId" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailId" name="emailId" [(ngModel)]="employeeObj.emailId" placeholder="Enter email">
                            </div>
                            <div class="col-md-6">
                                <label for="deptId" class="form-label">Parent Department</label>
                                <select id="deptId" class="form-select" name="deptId" [(ngModel)]="deptId" (change)="onDeptChange()">
                                    <option selected>Select department</option>
                                    @for (item of departmentList; track $index) {
                                        <option [value]="item.departmentId">{{ item.departmentName }}</option>
                                    }
                                </select>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="childDeptId" class="form-label">Child Department</label>
                                <select id="childDeptId" class="form-select " name="childDeptId" [(ngModel)]="employeeObj.deptId">
                                    <option selected>Select department</option>
                                    @for (item of childDeptList; track $index) {
                                        <option [value]="item.childDeptId">{{ item.departmentName }}</option>
                                    }
                                </select>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="employeeObj.password" placeholder="Enter password">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="gender" class="form-label">Select Gender</label> <br>
                                <input type="radio" name="gender" value="Male" [(ngModel)]="employeeObj.gender"> Male
                                <input type="radio" name="gender" value="Female" [(ngModel)]="employeeObj.gender"> Female
                               
                            </div>
                        </div>
                        @if(employeeObj.employeeId>0) {
                            <button type="submit" (click)="onUpdateEmp()" class="btn btn-primary mt-3">Update</button>
                        }@else {
                            <button type="submit" (click)="onSaveEmp()" class="btn btn-warning mt-3">Submit</button>
                        }
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
 
   

  