<div class="row">

    <div class="col-12" *ngIf="initialView == `List` ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-white">
                        <strong>New Projecy</strong> 
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="initialView= 'create' ">Create New Project</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3>Project List</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>
                            <th>Client Name</th>
                            <th>Start Date</th>
                            <th>Lead By Employee</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projectList;let sr=index">
                            <td>{{sr+1}}</td>
                           
                            <td>{{project.projectName}}</td>
                            <td>{{project.clientName}}</td>
                            <td>{{project.startDate | date:"dd-MMM-yy"}}</td>
                            <td>{{project.employeeName}}
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="onEdit(project)">Edit</button>
                                <button class="btn btn-danger" (click)="onDelete(project.projectId)">Delete</button>
                                <!-- <button class="btn btn-success" (click)="onAddEmployee(project.projectId)">Employee</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="initialView !== `List` ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-white">
                        <strong>Projecy List</strong> 
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="initialView='List' ">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="mb-4" [formGroup]="projectForm" (ngSubmit)="onFormSubmit()">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="projectName" class="form-label">Project Name</label>
                            <input type="text"  formControlName="projectName" class="form-control" id="projectName" placeholder="Enter project name">
                        </div>
                        <div class="col-md-6">
                            <label for="clientName" class="form-label">Client Name</label>
                            <input type="text" formControlName="clientName" class="form-control" id="clientName" placeholder="Enter client name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control" id="startDate">
                        </div>
                        <div class="col-md-6">
                            <label for="leadByEmpId" class="form-label">Lead By Employee ID</label>
                            <select class="form-select" formControlName="leadByEmpId" id="leadByEmpId">
                                <option value="">Select Employee</option>
                                <option value="" *ngFor="let emp of employeeData$ | async" [value]="emp.employeeId">{{emp.employeeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="contactPerson" class="form-label">Contact Person</label>
                            <input type="text" formControlName="contactPerson" class="form-control" id="contactPerson" placeholder="Enter contact person name">
                        </div>
                        <div class="col-md-6">
                            <label for="contactNoProject" class="form-label">Contact No</label>
                            <input type="text" formControlName="contactNo" class="form-control" id="contactNoProject" placeholder="Enter contact number">

                        </div>
                        <div class="col-md-6">
                            <label for="emailId" class="form-label">Email Id</label>
                            <input type="text" formControlName="emailId" class="form-control" id="emailId" placeholder="Enter email">

                        </div>
                    </div>
                    @if(initialView == 'form'){
                    <button type="submit" class="btn btn-primary mt-3" >Submit</button>}
                    @else{
                    <button type="submit" class="btn btn-warning mt-3">Update</button>}
                    
                </form>
            </div>
    </div>
    
</div>
<!-- <div class="modal" #myModal>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Project Employee</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeEmployee()"></button>
        </div>
  
      
        <div class="modal-body">
          <div class="row">
            <div class="col-3">
              <select name="" id="" class="form-select" [(ngModel)]="projectEmployee.empId">
                <option value="0">Select Employee</option>
                <option *ngFor="let emp of employeeData$| async " [value]="emp.employeeId">{{ emp.employeeName }}

                </option>
              </select>
            </div>
            <div class="col-3">
              <input type="text" placeholder="Role" class="form-control" [(ngModel)]="projectEmployee.role">
            </div>
            <div class="col-3">
              <input type="date" class="form-control" [(ngModel)]="projectEmployee.assignedDate">
            </div>
            <div class="col-3">
              <input type="button" value="Add" class="btn btn-primary" (click)="onAddEmp(projectEmployee.projectId)">
            </div>
          </div>
        </div>
  
   
        <div class="row pt-3">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project ID</th>
                  <th>Project Name</th>
                  <th>Client Name</th>
                  <th>Start Date</th>
                  <th>Lead By Employee</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projectList; let sr = index">
                  <td>{{ sr + 1 }}</td>
                  <td>{{ project.projectName }}</td>
                  <td>{{ project.clientName }}</td>
                  <td>{{ project.startDate | date: 'dd-MMM-yy' }}</td>
                  <td>{{ project.employeeName }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="onEdit(project)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(project.projectId)">Delete</button>
                    <button class="btn btn-success" (click)="onAddEmployee(project.projectId)">Employee</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
   
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeEmployee()">Close</button>
        </div>
  
      </div>
    </div>
  </div>
   -->